<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p11.PNG" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Personal Portfolio Using Angular8</h4>
          <h5 class="card-text"><b>Technology :</b> Angular8,Bootstrap3 </h5>
           
          <a href="#" class="btn btn-primary stretched-link ml-2 mr-5">Live Demo</a>
          <a href="https://github.com/Rabindramanohar/My-Personal-Portfolio" class="btn btn-primary stretched-link">GithubLink</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/p2.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Blogging application with Angular9</h4>
           <h5 class="card-text"><b>Technology :</b> Angular9, Angular Material, HTML5, CSS3, Bootstrap3 </h5>
    
        <a href="https://blogsite-756e1.web.app/" class="btn btn-primary  stretched-link ml-2 mr-5 ">Live Demo</a>
          <a href="https://github.com/Rabindramanohar/blog" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p44.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Apna Dhaba(Restaurant Application)</h4>
          <h5 class="card-text"><b>Technology :</b>Angular9, JavaScript, Firebase, Bootstrap3</h5>
        <a href="https://ng-recipebook-585b0.web.app /" class="btn btn-primary stretched-link ml-2 mr-5">Live Demo</a>
          <a href="hhttps://github.com/Rabindramanohar/ApnaDhaba-shop-" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/p3.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Customer_Relationship_Manager (CRM)</h4>
           <h5 class="card-text"><b>Technology :</b> Spring MVC,Hibernate and MySQL </h5>
        <!-- <a href="#/movie-success-prediction-a67d871a7b1" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a> -->
          <a href="https://github.com/Rabindramanohar/Customer_Relationship_Manager-CRM-" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
      
    </div>
    </div>
  </div>